$basic_grey:#6b717f;
$lighter_grey:#8C8C8C;
$black:#000;
$white:#fff;
$titles:#BF4080;
$succes_color: #008000;
$error_color:#ff0000;
$warning_color:#ffa500;

$padding_general:16px;
$padding-main:0 1em;